<nav>

    <!-- Logo -->
    <a href="{{ url_for('home') }}">
        <h1 id="logo">bbuehl.com</h1>
    </a>

    <!-- mobile burger -->
    <div id="burger">
        <div id="bar1" class="burger-bar"></div>
        <div id="bar2" class="burger-bar"></div>
        <div id="bar3" class="burger-bar"></div>
    </div>

    <!-- navigation section -->
    <div class="nav-container">
        <ul id='nav-links'>
            <li>
                <a href="{{ url_for('home') }}" class="nav-link">home</a>
            </li>
            <li>
                <a href="{{ url_for('development') }}" class="nav-link">development</a>
            </li>
            <li>
                <a href="{{ url_for('art') }}" class="nav-link">art</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}" class="nav-link">contact</a>
            </li>
        </ul>

        <!-- Social Media Links -->
        <div id="social">
            <ul>
                <li class="social-link">
                    <a href="https://github.com/billybuehl792" target="_blank">
                        <img src="{{ url_for('static', filename='img/githubLogo.png') }}" alt="github.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.instagram.com/kevinjosephcole_art/" target="_blank">
                        <img src="{{ url_for('static', filename='img/instagramLogo.png') }}" alt="Instagram.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.artstation.com/bbuehl792" target="_blank">
                        <img src="{{ url_for('static', filename='img/artstationLogo.png') }}" alt="Artstation.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.linkedin.com/in/billy-buehl-90074411a/" target="_blank">
                        <img src="{{ url_for('static', filename='img/linkedinLogo.png') }}" alt="Linkedin.com">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
