<nav class="noselect">

    <!-- Logo -->
    <a href="{{ url_for('home') }}">
        <h1 id="logo" class="link-dark">bbuehl.com</h1>
    </a>

    <!-- Mobile Burger -->
    <div id="burger" class="link-dark">
        <div id="bar1" class="burger-bar"></div>
        <div id="bar2" class="burger-bar"></div>
        <div id="bar3" class="burger-bar"></div>
    </div>

    <!--Navigation Section -->
    <div id="nav-container">
        <ul id="nav-links">
            <li><a href="{{ url_for('home') }}" class="link-dark">home</a></li>
            <li><a href="{{ url_for('development') }}" class="link-dark">development</a></li>
            <li><a href="{{ url_for('art') }}" class="link-dark">art</a></li>
            <li><a href="{{ url_for('sketchbook') }}" class="link-dark">sketchbook</a></li>
            <li><a href="{{ url_for('contact') }}" class="link-dark">contact</a></li>
        </ul>

        <!-- Social Media Links -->
        <div id="social">
            <ul>
                <li class="social-link">
                    <a href="https://github.com/billybuehl792" target="_blank">
                        <img src="{{ url_for('static', filename='img/githubLogo.png') }}" alt="github.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.instagram.com/kevinjosephcole_art/" target="_blank">
                        <img src="{{ url_for('static', filename='img/instagramLogo.png') }}" alt="Instagram.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.artstation.com/bbuehl792" target="_blank">
                        <img src="{{ url_for('static', filename='img/artstationLogo.png') }}" alt="Artstation.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="https://www.linkedin.com/in/billy-buehl-90074411a/" target="_blank">
                        <img src="{{ url_for('static', filename='img/linkedinLogo.png') }}" alt="LinkedIn.com">
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    
</nav>
