{% extends "base.html" %}

{% block body %}
    <div id="player" class="player" onclick="imageViewer()">
        <div id="image-container">
            <img id="focus-image" src="" alt="">
        </div>
    </div>
    <div class="art-container">
    {% for entry in d %}
        <div class="art-piece" onclick="imageViewer('{{ url_for('static', filename='art/' + entry['image'] ) }}')">
            <img src="{{ url_for('static', filename='thumbnail/' + entry['thumbnail'] ) }}" alt="{{ entry['title'] }}">
            <div class="art-title">
                <h3>{{ entry['title'] }}</h3>
                {% if entry['link'] %}
                    <a href="{{ entry['link'] }}" target="_blank">View Work</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}