{% extends "base.html" %}

{% block body %}

    <!-- IMAGE/ VIDEO PLAYER -->
    <div id="player" class="player" onclick="viewer()">
        <div id="focus-container"></div>
    </div>

    <!-- ART ITEMS -->
    <div class="art-container">
    {% for entry in d %}
        <div class="{{ entry['class'] }}" onclick="viewer('{{ entry['piece'] }}', '{{ entry['media'] }}', '{{ entry['title'] }}')">
            <img src="{{ entry['thumbnail'] }}" alt="{{ entry['title'] }}" loading="lazy">
            <div class="art-title">
                <h3>{{ entry['title'] }}</h3>
                {% if entry['link'] %}
                    <a href="{{ entry['link'] }}" target="_blank">View Work</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}