{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="text-container">
        <h2>Billy Buehl</h2>
        <p>billybuehl792@gmail.com</p>
    </div>
    <div class="text-container">
        <p class="resume-link">
            <a href="{{ url_for('resume', resume='IT_Resume') }}">IT Resume</a>
        </p>
        <p class="resume-link">
            <a href="{{ url_for('resume', resume='Motion_Resume') }}">Motion Resume</a>
        </p>
    </div>
</div>
{% endblock %}