{% extends "base.html" %}

{% block body %}

    <div class="dev-container">
        <h2 class="dev-title">Development Projects</h2>
    {% for entry in d %}
        <div class="project-container">
            <h3 class="project-title">{{ entry['title'] }}</h3>
            <h4 class="project-subtitle">{{ entry['subtitle'] }}</h4>
            <p class="project-description">{{ entry['descr'] }}</p>
            {% if entry['code'] %}
            <p class="link">
                <a href="{{ entry['code'] }}" target="_blank">View Code</a>
            </p>
            {% endif%}
            {% if entry['link'] %}
            <p class="link">
                <a href="{{ entry['link'] }}" target="_blank">View Project</a>
            </p>
            {% endif%}
        </div>
    {% endfor %}
    </div>

{% endblock %}