{% extends "base.html" %}

{% block body %}
    <div class="small-container">
        
        <h2 class="title">Development Projects</h2>

        <div id="entries">

            <!-- Entry Template -->
            <template id="project-template">
                <div class="entry-container">
                    <h2 class="title" id="title"></h3>
                    <h3 class="subtitle" id="subtitle"></h3>
                    <p class="paragraph" id="description"></p>
                </div>
            </template>

        </div>

        <!-- Spinner -->
        <div id="sentinel">
            <p class="wrapper">loading...</p>
        </div>

    </div>

{% endblock %}