{% extends "base.html" %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='img/profile.png') }}" alt="{{ name }}">
    <h2 class="title-text">Billy Buehl</h2>
    <div class="text-container">
        <p>
            I'm a motion designer/ developer currently located in Athens, Ohio
            finishing a master's degree in Information and Telecommunication Systems. 
            I have a background in design and network engineering. This site 
            is a showcase of some of my work.
        </p>
    </div>
    <div class="text-container">
        <h5>Network Engineer at Progressive</h5>
        <h5>OU CS Internet Engineering TA</h5>
        <h5>Former Motion Designer at Frame One Media</h5>
        <h5>Former Motion Designer at AvatarMS</h5>
    </div>
</div>
{% endblock %}