{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="text-container">
        <h2>Billy Buehl</h2>
        <p>billybuehl792@gmail.com</p>
        <p>216.952.1640</p>
    </div>
    <div class="text-container">
        <p class="resume-link">
            <a href="{{ url_for('resume', resume='BillyBuehl_Resume_IT.pdf') }}">IT Resume</a>
        </p>
        <p class="resume-link">
            <a href="{{ url_for('resume', resume='BillyBuehl_Resume.pdf') }}">Motion Resume</a>
        </p>
    </div>
</div>
{% endblock %}