{% extends "base.html" %}

{% block body %}
<div class="dev-container">
    <h2 class="dev-title">Development Projects</h2>
    <div class="project-container">
        <h3 class="project-title">Bit Mining Demo and Server</h3>
        <h4 class="project-subtitle">It's about blah</h4>
        <p class="project-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Recusandae amet quidem quo modi accusantium illum officiis 
            iusto iste enim laboriosam debitis itaque, ea exercitationem 
            aliquam voluptate, doloremque eveniet aspernatur a?
        </p>
        <p class="link">
            <a href="" target="_blank">View Project</a>
        </p>
    </div>
</div>
{% endblock %}